@{
    Layout = null;
    @model BookDeliveryCore.MyOrdersAll

}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

<!-- DataTables JavaScript -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<div class="row" style="max-width: 100%; padding: 15px;">
    <div class="col-md-12 col-sm-12">
        @if (Model == null || Model.MyOrderList.Count == 0)
        {
            <p>No orders available.</p>
        }
        else
        {
            <div>
                <table id="OrdersTable" class="table table-condensed table-hover" style="width: 100%">
                    <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Client</th>
                            <th scope="col">Client Phone Number</th>
                            <th scope="col">Delivery Agency</th>
                            <th scope="col">Courier</th>
                            <th scope="col">Courier Phone Number</th>
                            <th scope="col">Order Status</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Dispatched Date</th>
                            <th scope="col">Estimated Date</th>
                            <th scope="col">Delivered Date</th>
                            <th scope="col">Order Review</th>
                            <th scope="col">Review Comments</th>
                            @if (Model.myID == "AGEN")
                            {
                                <th scope="col">View</th>
                            }
                            else
                            {
                                <th scope="col">Edit</th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model.MyOrderList)
                        {
                            <tr>
                                <td>@order.ORDER_ID</td>
                                <td>@order.CLIENT_FIRSTNAME @order.CLIENT_LASTNAME</td>
                                <td>@order.CLIENT_PHONE</td>
                                <td>@order.AGENCY_NAME</td>
                                <td>@order.COURIER_FIRSTNAME @order.COURIER_LASTNAME</td>
                                <td>@order.COURIER_PHONE</td>
                                <td>@order.STATUS</td>
                                <td>@order.ORDERDATE</td>
                                <td>@order.DISPATCHDATE</td>
                                <td>@order.ESTIMATE_DT</td>
                                <td>@order.DELIVEREDDATE</td>
                                <td>@order.REVIEW</td>
                                <td>@order.REVIEW_COMMENTS</td>
                                <td>
                                    <button onclick="ViewOrder(this)">
                                        <i class="fa fa-magic" aria-hidden="true"></i>
                                    </button>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="viewOrderModal" tabindex="-1" aria-labelledby="viewOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewOrderModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3" hidden>
                        <label for="orderid" class="form-label">Order ID</label>
                        <input type="text" class="form-control" id="orderid" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="clientName" class="form-label">Client Name</label>
                        <input type="text" class="form-control" id="clientName" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="clientPhone" class="form-label">Client Phone</label>
                        <input type="text" class="form-control" id="clientPhone" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="agency" class="form-label">Agency</label>
                        <input type="text" class="form-control" id="agency" disabled>
                    </div>

                    <div class="mb-3">
                        <label for="courierName" class="form-label">Courier Name</label>
                        <input type="text" class="form-control" id="courierName" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="courierPhone" class="form-label">Courier Phone</label>
                        <input type="text" class="form-control" id="courierPhone" disabled>
                    </div>
                    @if (Model.myID == "AGEN")
                    {
                        <div class="mb-3">
                            <label for="status" class="form-label">Status</label>
                            <input type="text" class="form-control" id="statusIn">
                        </div>
                    }
                    else if (Model.myID == "COUR")
                    {

                        <div class="mb-3">
                            <label for="status" class="form-label">Status</label>
                            <select id="statusCour" tabindex="2" class="form-control form-select" aria-hidden="true" style="width:100%">
                                <option value="DISPATCHED">DISPATCHED</option>
                                <option value="DELIVERED">DELIVERED</option>
                            </select>
                        </div>
                    }
                    else
                    {
                        <div id="stsprev">
                            <div id="stsdiv" class="mb-3">
                                <label for="status" class="form-label">Status</label>
                                <select id="status" tabindex="2" class="form-control form-select" aria-hidden="true" style="width:100%">
                                    <option value="NOCHOICE">&ensp;</option>
                                    <option value="RESCHEDULE">RESCHEDULE</option>
                                    <option value="CANCELED">CANCELED</option>
                                </select>
                            </div>
                        </div>

                    }

                    <div class="mb-3">
                        <label for="orderdt" class="form-label">Created Date</label>
                        <input type="text" class="form-control" id="orderdt" disabled>
                    </div>
                    <div id="ddtdiv" class="mb-3">
                        <label for="dispdt" class="form-label">Dispatched Date</label>
                        <input type="text" class="form-control" id="dispdt" disabled>
                    </div>
                    <div id="eddtdiv" class="mb-3">
                        <label for="eddt" class="form-label">Estimated Delivery Date</label>
                        <input type="date" class="form-control" id="eddt" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="deldt" class="form-label">Delivery Date</label>
                        <input type="text" class="form-control" id="deldt" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="deldt" class="form-label">Order Items</label>
                        <div id="ItemResult"></div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="review" class="form-label">Review</label>
                        <div class="input-group">
                          <select id="review" tabindex="2" class="form-control form-select" aria-hidden="true" style="width:100%" disabled>
                            <option value="0"></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            </select>
                            @*<input type="text" class="form-control" id="review" disabled>*@
                            <span class="input-group-text">
                                <i class="fas fa-star"></i>
                            </span>

                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="reviewCom" class="form-label">Review Comments</label>
                        <input type="text" class="form-control" id="reviewCom" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                @if (Model.myID != "AGEN")
                {
                    <div id="savebtnprev">
                        <div id="savebtn">
                            <button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<input hidden id="role" value="@Model.myID" />

<script>
    $(document).ready(function () {
        $('#OrdersTable').DataTable({
            paging: true,
            pagingType: 'simple_numbers',
            searching: true,
            pageLength: 15,
            dom: 'frtip',
            language: {
                thousands: ",",
                decimal: "."
            },
            responsive: true,
            scrollX: false,
            columnDefs: [
                { className: 'dt-body-left', targets: '_all' }
            ]
        });
    });

    function ViewOrder(button) {
        $('#eddt').prop('disabled', true);
        var row = button.parentNode.parentNode; // Get the row
        var cells = row.getElementsByTagName("td");
        var orderData = {
            orderid: cells[0].innerText,
            clname: cells[1].innerText,
            clphone: cells[2].innerText,
            agname: cells[3].innerText,
            courname: cells[4].innerText,
            courphone: cells[5].innerText,
            status: cells[6].innerText,
            orderdt: cells[7].innerText,
            dispdt: cells[8].innerText,
            eddt: cells[9].innerText,
            deldt: cells[10].innerText,
            review: cells[11].innerText,
            reviewcom: cells[12].innerText
        };

        var role = $('#role').val();

        switch (role) {
            case "CLIE":
                if (orderData.status != "PENDING" && $('#eddtdiv').length != 0) {
                    $('#eddtdiv').remove();
                } else {
                    if ($('#eddtdiv').length == 0) {
                        $('#ddtdiv').append('<div id="eddtdiv" class="mb-3"><label for="eddt" class="form-label">Estimated Delivery Date</label><input type="date" class="form-control" id="eddt" disabled></div>');
                    }
                }
                if (orderData.status == "DISPATCHED" && $('#stsdiv').length != 0) {
                    $('#stsdiv').remove();
                    $('#status').prop('disabled', true);
                    $('#reviewCom').prop('disabled', true);
                    $('#review').prop('disabled', true);
                } else {
                    if ($('#stsdiv').length == 0) {
                        $('#stsprev').append('<div id="stsdiv" class="mb-3"><label for="status" class="form-label">Status</label><select id="status" tabindex="2" class="form-control form-select" aria-hidden="true" style="width:100%"><option value="NOCHOICE">&ensp;</option><option value="RESCHEDULE">RESCHEDULE</option><option value="CANCELED">CANCELED</option></select></div>');
                    }
                }
                break;
            case "AGEN":
                if (orderData.status == "CANCELED" || orderData.status == "DISPATCHED" || orderData.status == "DELIVERED" || orderData.status == "PENDING") {
                    $('#statusIn').prop('disabled', true).val(orderData.status);
                }
                break;
            case "COUR":
                if (orderData.status == "DELIVERED") {
                    $('#statusCour').prop('disabled', true).val(orderData.status);
                } else {
                    $('#statusCour').prop('disabled', false);
                }
                break;
            default:
                break;
        }


        var savediv = '<div id="savebtn">' +
            '<button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>' +
            '</div>';

        $('#status').change(function () {
            var selectedValue = $(this).val();
            if (selectedValue == "RESCHEDULE") {
                $('#eddt').prop('disabled', false);
            } else {
                $('#eddt').prop('disabled', true);
                $('#eddt').val('');
            }
        });


        if ((orderData.status == "CANCELED") && (role == "CLIE" || role == "COUR")) {
            $('#savebtn').remove();
            $('#status').prop('disabled', true);
        } else if (orderData.status == "PENDING" && role == "CLIE") {
            $('#status').prop('disabled', false);
            if ($('#savebtn').length == 0) {
                $('#savebtnprev').append(savediv);
            }
        } else if (orderData.status == "DELIVERED" && role == "CLIE" && orderData.review == "" && orderData.reviewcom == "") {
            // Enable review fields and show save button if reviews are empty
            $('#review').prop('disabled', false);
            $('#reviewCom').prop('disabled', false);
            if ($('#savebtn').length == 0) {
                $('#savebtnprev').append(savediv);
            }
            // Disable status field
            $('#status').prop('disabled', true);
        } else if (orderData.status == "DISPATCHED" && role == "COUR") {
            // Make save button visible and append it
            if ($('#savebtn').length == 0) {
                $('#savebtnprev').append(savediv);
            }
        }
        else {
            // Disable review fields and hide save button if reviews are not empty
            $('#review').prop('disabled', true);
            $('#reviewCom').prop('disabled', true);
            $('#savebtn').remove();
            // Unblock status field for other conditions
            $('#status').prop('disabled', false);
        }
        if (orderData.status == 'DELIVERED') {
            $('#status').prop('disabled', true);
        }

        var today = new Date();
        var maxDate = new Date(today);
        maxDate.setMonth(maxDate.getMonth() + 1);
        var maxDateString = maxDate.toISOString().split('T')[0];
        $('#eddt').attr('max', maxDateString);
        var minDateString = today.toISOString().split('T')[0];
        $('#eddt').attr('min', minDateString);

        console.log(orderData);
        editOrderModal(orderData);
    }

    function editOrderModal(orderData) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("SearchOrderItems", "Menu")",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'OrderID': orderData.orderid}),
            async: false,
            success: function (response) {
                $('#ItemResult').html(response);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
        $('#viewOrderModalLabel').text("Order -" + orderData.orderid);
        $('#orderid').val(orderData.orderid);
        $('#clientName').val(orderData.clname);
        $('#clientPhone').val(orderData.clphone);
        $('#agency').val(orderData.agname);
        $('#courierName').val(orderData.courname);
        $('#courierPhone').val(orderData.courphone);
        $('#status').val(orderData.status);
        $('#orderdt').val(orderData.orderdt);
        $('#dispdt').val(orderData.dispdt);
        $('#deldt').val(orderData.deldt);
        if (orderData.eddt != "") {
            var datetimeString = orderData.eddt;
            var parts = datetimeString.split(" "); // Split the string into date and time parts
            var dateStringParts = parts[0].split("/"); // Split the date part into day, month, and year
            var timeStringParts = parts[1].split(":"); // Split the time part into hours, minutes, and seconds

            // Create a Date object from the parsed parts
            var date = new Date(dateStringParts[2], dateStringParts[1] - 1, dateStringParts[0]); // Months are zero-based in JavaScript Date objects

            // Get the year, month, and day from the Date object
            var year = date.getFullYear();
            var month = String(date.getMonth() + 1).padStart(2, '0'); // Adding 1 because getMonth() returns zero-based months
            var day = String(date.getDate()).padStart(2, '0');

            // Create the date string in the format YYYY-MM-DD
            var dateString = year + '-' + month + '-' + day;

            // Set the value of the input element with id "eddt"
            $('#eddt').val(dateString);
        }
        else {
            $('#eddt').val(orderData.eddt);
        }
        $('#review').val(orderData.review);
        $('#reviewCom').val(orderData.reviewcom);

        if (orderData.review >= 5) {
            $('#review').next('.input-group-text').find('i').addClass('text-warning');
        } else {
            $('#review').next('.input-group-text').find('i').addClass('"fa fa-star-half-o"');
        }

        $('#viewOrderModal').modal('show');
    }

    function saveChanges() {
        var statusCour = $('#statusCour').val();
        var status = $('#status').val();
        var eddt = $('#eddt').val();
        var role = $('#role').val();
        var review = $('#review').val();
        var reviewComments = $('#reviewCom').val();
        var deldt =  $('#deldt').val();

        console.log("STATUS: " + status);
        console.log("ESTIMATED DATE: " + eddt);

        if (role == "CLIE" && (status == "CANCELED" || status == 'RESCHEDULE')) {
            if (eddt == '') {
                eddt = null;
            }
            if (status == 'RESCHEDULE' && eddt == null) {
                alert('PLEASE SELECT A DATE TO RESCHEDULEYOUR ORDER');
            }
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateOrder", "Menu")",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ 'OrderID': $('#orderid').val(), 'Status': status, 'EDD': eddt }),
                async: false,
                success: function (response) {
                    console.log(response);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });

        } 
        if (role == "COUR" && statusCour == "DELIVERED" && review == null && reviewComments == "") {
            if (eddt == '') {
                eddt = null;
            }
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateOrder", "Menu")",
                contentType: "application/json; charset=utf-8",

                // Pass only the 'username' parameter
                data: JSON.stringify({ 'Status': statusCour, 'OrderID': $('#orderid').val(), 'EDD': eddt }),
                async: false,
                success: function (response) {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }

        if (role == 'CLIE' && review != null && review != 0) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateOrderReview", "Menu")",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ 'OrderID': $('#orderid').val(), 'Review': $('#review').val(), 'ReviewComments': $('#reviewCom').val() }),
                async: false,
                success: function (response) {
                    console.log(response);
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        //alert(deldt);
        //console.log(deldt);
        if (role == 'CLIE' && (review == null || review == 0) && deldt != ''){
            alert('PLEASE SELECT A REVIEW SCORE');
        }
        $('#viewOrderModal').modal('hide');
    }
</script>


@* <script>
    $(document).ready(function () {
        $('#OrdersTable').DataTable({
            paging: true,
            pagingType: 'simple_numbers',
            searching: true,
            pageLength: 15,
            dom: 'frtip',
            language: {
                thousands: ",",
                decimal: "."
            },
            responsive: true,
            scrollX: false,
            columnDefs: [
                { className: 'dt-body-left', targets: '_all' }
            ]
        });
    });

    function ViewOrder(button) {
        $('#eddt').prop('disabled', true);
        var row = button.parentNode.parentNode; // Get the row
        var cells = row.getElementsByTagName("td");
        var orderData = {
            orderid: cells[0].innerText,
            clname: cells[1].innerText,
            clphone: cells[2].innerText,
            agname: cells[3].innerText,
            courname: cells[4].innerText,
            courphone: cells[5].innerText,
            status: cells[6].innerText,
            orderdt: cells[7].innerText,
            dispdt: cells[8].innerText,
            eddt: cells[9].innerText,
            deldt: cells[10].innerText,
            review: cells[11].innerText,
            reviewcom: cells[12].innerText
        };



        var role = $('#role').val();
        // var divContent = '<div id="eddtdiv" class="mb-3"><label for="eddt" class="form-label">Estimated Delivery Date</label><input type="date" class="form-control" id="eddt" disabled></div>';
        // var divstsContent = '<div id="stsdiv" class="mb-3"><label for="status" class="form-label">Status</label><select id="status" tabindex="2" class="form-control form-select" aria-hidden="true" style="width:100%"><option value="NOCHOICE">&ensp;</option><option value="RESCHEDULE">RESCHEDULE</option><option value="CANCELED">CANCELED</option></select></div>';

        if (role == "CLIE") {
            if (orderData.status != "PENDING" && $('#eddtdiv').length != 0) {
                $('#eddtdiv').remove();
            }
            else {
                if ($('#eddtdiv').length == 0) {
                    $('#ddtdiv').append(divContent);
                }

            }
        }

        if (role == "CLIE") {
            if (orderData.status == "DISPATCHED" && $('#stsdiv').length != 0) {
                $('#stsdiv').remove();
            }
            else {
                if ($('#stsdiv').length == 0) {
                    $('#stsprev').append(divstsContent);
                }

            }
        }

        $('#status').change(function () {
            // Get the selected value
            var selectedValue = $(this).val();
            if (selectedValue == "RESCHEDULE") {
                $('#eddt').prop('disabled', false);
            }
            else {
                $('#eddt').prop('disabled', true);
                $('#eddt').val('');

            }
        });

        var savediv = '<div id="savebtn">' +
            '<button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>' +
            '</div>';

        if (orderData.status == "CANCELED" || (orderData.status == "DISPATCHED" && role == "CLIE")) {
            $('#savebtn').remove();
            $('#status').prop('disabled', true);
        }
        else {
            $('#status').prop('disabled', false);
            if ($('#savebtn').length == 0) {
                $('#savebtnprev').append(savediv);
            }
        }

        if (orderData.status == "DELIVERED" && role == "COUR") {
            $('#savebtn').remove();
            $('#status').prop('disabled', true);
        }
        else {
            $('#status').prop('disabled', false);
            if ($('#savebtn').length == 0) {
                $('#savebtnprev').append(savediv);
            }
        }
        if (orderData.status == "DELIVERED" && role == "CLIE") {
            $('#status').prop('disabled', true);
            $('#reviewCom').prop('disabled', false);
            $('#review').prop('disabled', false);

        }
        else {
            $('#status').prop('disabled', false);
            $('#reviewCom').prop('disabled', true);
            $('#review').prop('disabled', true);
        }

        // Get today's date
        var today = new Date();

        // Calculate one month from today
        var maxDate = new Date(today);
        maxDate.setMonth(maxDate.getMonth() + 1);

        // Format the maximum date as yyyy-mm-dd
        var maxDateString = maxDate.toISOString().split('T')[0];

        // Set the max attribute of the input field to restrict selection
        $('#eddt').attr('max', maxDateString);

        // Format the minimum date as yyyy-mm-dd
        var minDateString = today.toISOString().split('T')[0];

        // Set the min attribute of the input field to restrict selection
        $('#eddt').attr('min', minDateString);


        //if (orderData.eddt != "") {
        //    $('#eddt').prop('disabled', true);
        //}
        //else {
        //    $('#eddt').prop('disabled', false);
        //}

        console.log(orderData);
        editOrderModal(orderData)
    }

    function editOrderModal(orderData) {
        $('#viewOrderModalLabel').text("Order -" + orderData.orderid);
        $('#orderid').val(orderData.orderid);
        $('#clientName').val(orderData.clname);
        $('#clientPhone').val(orderData.clphone);
        $('#agency').val(orderData.agname);
        $('#courierName').val(orderData.courname);
        $('#courierPhone').val(orderData.courphone);
        $('#status').val(orderData.status);
        $('#orderdt').val(orderData.orderdt);
        $('#dispdt').val(orderData.dispdt);
        $('#deldt').val(orderData.deldt);
        $('#eddt').val(orderData.eddt);
        $('#review').val(orderData.review + "/10");
        $('#reviewCom').val(orderData.reviewcom);

        if (orderData.review >= 5) {
            $('#review').next('.input-group-text').find('i').addClass('text-warning');

        }
        else {
            $('#review').next('.input-group-text').find('i').addClass('"fa fa-star-half-o"');
        }


        $('#viewOrderModal').modal('show');
    }

    function saveChanges() {
        var status = $('#status').val();
        var eddt = $('#eddt').val();
        var role = $('#role').val();
        // Perform actions to save changes here
        console.log("STATUS: " + status);
        console.log("ESTIMATED DATE: " + eddt);
        //TODO ADD && review !=''
        if (role == "CLIE" && (status == "CANCELED" || eddt != '')) {
            if (eddt == '') {
                eddt = null;
            }
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateOrder", "Menu")",
                contentType: "application/json; charset=utf-8",

                // Pass only the 'username' parameter
                data: JSON.stringify({ 'OrderID': $('#orderid').val(), 'Status': status, 'EDD': eddt }),
                async: false,
                success: function (response) {
                    console.log(response); // Add this line for logging
                    //$('#UserResult').html(response);
                    // Initialize DataTable here if needed
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        else if (role == "COUR" && status == "DELIVERED") {
            if (eddt == '') {
                eddt = null;
            }
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateOrder", "Menu")",
                contentType: "application/json; charset=utf-8",

                // Pass only the 'username' parameter
                data: JSON.stringify({ 'Status': status, 'OrderID': $('#orderid').val(), 'EDD': eddt }),
                async: false,
                success: function (response) {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        else {

        }
        $('#viewOrderModal').modal('hide');


    }


</script> *@