@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    @model List<BookDeliveryCore.Client> 
}
<head>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

</head>

<div class="row" style="max-width: 100%; padding:15px;">
    <div class="col-md-12 col-sm-12">
        <div>
            <table id="UserTable" class="table table-condensed table-hover" style="100%">
                <thead>
                    <tr>
                            <th scope="col">Username</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Postal Code</th>
                            <th scope="col">Role</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Enabled</th>
                            <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var client in Model)
                        {
                            <tr>
                                <td>@client.USERNAME</td>
                                <td>@client.FIRSTNAME</td>
                                <td>@client.LASTNAME</td>
                                <td>@client.ADDRESS</td>
                                <td>@client.POSTAL_CODE</td>
                                <td>@client.ROLE</td>
                                <td>@client.PHONE_NUMBER</td>
                                <td>@client.ENABLE</td>
                            <td><button onclick="EditUser(this)"><i class="fa fa-magic" aria-hidden="true"></i></button></td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="firstname" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstname">
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastname">
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address">
                    </div>
                    <div class="mb-3">
                        <label for="postalCode" class="form-label">Postal Code</label>
                        <input type ="text" class="form-control" id="postalCode">
                    </div>
                    <div class="mb-3">
                        <label for="role" class="form-label">Role</label>
                        <select id="role" class="form-control form-select" aria-hidden="true" style="width:100%">
                            <option value="ADMI">ADMIN</option>
                            <option value="COUR">COURIER</option>
                            <option value="CLIE">CLIENT</option>
                        </select>
                        
                        @*<input type="text" class="form-control" id="role">*@
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" id="phoneNumber">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="enabled">
                        <label class="form-check-label" for="enabled">Enabled</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<input id="role2" hidden disabled/>

<script>
    $(document).ready(function () {
        $('#UserTable').DataTable({
            paging: true,
            pagingType: 'simple_numbers',
            searching: false,
            pageLength: 15,
            dom: 'frtip',
            language: {
                thousands: ",",
                decimal: "."
            },
            responsive: true,
            columnDefs: [
                { className: 'dt-body-left', targets: '_all' }
            ]
        });

    });
    function EditUser(button) {
        var row = button.parentNode.parentNode; // Get the row
        var cells = row.getElementsByTagName("td");
        var userData = {
            username: cells[0].innerText,
            firstname: cells[1].innerText,
            lastname: cells[2].innerText,
            address: cells[3].innerText,
            postalcode: cells[4].innerText,
            role: cells[5].innerText,
            phonenumber: cells[6].innerText,
            enabled: cells[7].innerText
        };

        // Now you can do whatever you want with userData
        console.log(userData);
        $('#role2').val(userData.role);
        editUserModal(userData)
    }

    function editUserModal(userData) {
        $('#username').val(userData.username);
        $('#firstname').val(userData.firstname);
        $('#lastname').val(userData.lastname);
        $('#address').val(userData.address);
        $('#postalCode').val(userData.postalcode);
        $('#role').val(userData.role);
        $('#phoneNumber').val(userData.phonenumber);
        $('#enabled').prop('checked', userData.enabled === 'True');

        $('#editUserModal').modal('show');
    }

    function saveChanges() {
        var username = $('#username').val();
        var firstname = $('#firstname').val();
        var lastname = $('#lastname').val();
        var address = $('#address').val();
        var postalCode = $('#postalCode').val();
        var role = $('#role').val();
        var phoneNumber = $('#phoneNumber').val();
        var enabled = $('#enabled').prop('checked').toString();

        // Perform actions to save changes here
        console.log("Username: " + username);
        console.log("First Name: " + firstname);
        console.log("Last Name: " + lastname);
        console.log("Address: " + address);
        console.log("Postal Code: " + postalCode);
        console.log("Role: " + role);
        console.log("Phone Number: " + phoneNumber);
        console.log("Enabled: " + enabled);

        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateClient", "Admin")",
            contentType: "application/json; charset=utf-8",

            // Pass only the 'username' parameter
            data: JSON.stringify({ 'Username': username, 'Firstname': firstname, 'Lastname': lastname, 'Address': address, 'PostalCode': postalCode, 'Role': role, 'PhoneNumber': phoneNumber, 'Enabled': enabled, 'OldRole': $('#role2').val()}),
            async: false,
            success: function (response) {
                console.log(response); // Add this line for logging
                //$('#UserResult').html(response);
                // Initialize DataTable here if needed
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
        
        // Close modal after saving changes
        $('#editUserModal').modal('hide');
        //TODO FIX LATER


    }
              

</script>

