@{
    Layout = null;
    @model List<BookDeliveryCore.Orders>

}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

<!-- DataTables JavaScript -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<div class="row" style="max-width: 100%; padding: 15px;">
    <div class="col-md-12 col-sm-12">
        @if (Model == null || Model.Count == 0)
        {
            <p>No orders available.</p>
        }
        else
        {
            <div>
                <table id="OrdersTable" class="table table-condensed table-hover" style="width: 100%">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">City of Delivery</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Requested Date</th>
                            <th scope="col">Get Order</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td>@order.ORDER_ID</td>
                                <td>@order.CLIENT_CITY</td>
                                <td>@order.STATUS</td>
                                <td>@order.ORDERDATE</td>
                                <td>@order.ESTIMATE_DT</td>
                                <td>
                                    <button onclick="ViewOrder(this)">
                                        <i class="fa fa-magic" aria-hidden="true"></i>

                                    </button>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="viewOrderModal" tabindex="-1" aria-labelledby="viewOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewOrderModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
@*                     <div class="mb-3">
                        <label for="orderID" class="form-label">OrderID</label>
                        <input type="text" class="form-control" id="orderID" disabled>
                    </div>*@
                    <div class="mb-3">
                        <label for="city" class="form-label">City of Delivery</label>
                        <input type="text" class="form-control" id="city" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <input type="text" class="form-control" id="status" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="orderdt" class="form-label">Created Date</label>
                        <input type="text" class="form-control" id="orderdt" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="edd" class="form-label">Requested Date</label>
                        <input type="text" class="form-control" id="edd" disabled>
                    </div>
                                        <div class="mb-3">
                        <label for="deldt" class="form-label">Order Items</label>
                        <div id="ItemResult"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="saveChangesBtn" type="button" class="btn btn-primary">Accept Order</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#OrdersTable').DataTable({
            paging: true,
            pagingType: 'simple_numbers',
            searching: false,
            pageLength: 15,
            dom: 'frtip',
            language: {
                thousands: ",",
                decimal: "."
            },
            responsive: false,
            scrollX: true,
            columnDefs: [
                { className: 'dt-body-left', targets: '_all' }
            ]
        });
    });

    function ViewOrder(button) {
        var row = button.parentNode.parentNode; // Get the row
        var cells = row.getElementsByTagName("td");
        var orderData = {
            orderid: cells[0].innerText,
            city: cells[1].innerText,
            status: cells[2].innerText,
            orderdt: cells[3].innerText,
            edd: cells[4].innerText,
        };

        console.log(orderData);
        editOrderModal(orderData)
    }

    function editOrderModal(orderData) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("SearchOrderItems", "Menu")",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'OrderID': orderData.orderid }),
            async: false,
            success: function (response) {
                $('#ItemResult').html(response);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
        $('#viewOrderModalLabel').text("Order - " + orderData.orderid);

        $('#city').val(orderData.city);
        $('#status').val(orderData.status);
        $('#orderdt').val(orderData.orderdt);
        $('#edd').val(orderData.edd);



        $('#viewOrderModal').modal('show');
        $('#saveChangesBtn').on('click', function () {
            saveChanges(orderData);
        });
    }

    function saveChanges(orderData) {
        var orderID = orderData.orderid;
        console.log($('#orderID').val());
        $.ajax({
            type: "POST",
            url: "@Url.Action("AcceptOrderAgency", "Agency")",
            contentType: "application/json; charset=utf-8",

            // Pass only the 'username' parameter
            data: JSON.stringify({ 'OrderID': orderID }),
            async: false,
            success: function (response) {
                console.log(response); // Add this line for logging
                location.reload();
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

        // Close modal after saving changes
        $('#viewOrderModal').modal('hide');
        //TODO FIX LATER
        //window.location.href = '@Url.Action("AdminModule", "Menu", new { select = "ADMI" })';

    }


</script>